*.html.php
.DS_Store
.ide
*.log
Runtime
Temp
temp
Logs
logs
*.lock
/nbproject/configs/*.properties
/nbproject/private/*.properties
/nbproject/private/configs/*.properties
/nbproject/private/*.xml
/nbproject/*.properties
/nbproject/*.xml
/nbproject/configs/cth.properties
/nbproject/private/config.properties
/nbproject/private/configs/cth.properties
/nbproject/private/private.properties
/nbproject/private/private.xml
/nbproject/project.properties
/nbproject/project.xml
/nbproject/private/
/vendor/