*.html.php
.DS_Store
.ide
*.log
Runtime
Temp
temp
Logs
logs
*.lock
/nbproject/configs/*.properties
/nbproject/private/*.properties
/nbproject/private/configs/*.properties
/nbproject/private/*.xml
/nbproject/*.properties
/nbproject/*.xml
