<extend name="./app/Admin/View/Layout/application.html"/>

<block name="content">
    <div class="admin-content">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">编辑用户</strong> /
                <small>Update User</small>
            </div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-12">
                <div class="am-tab-panel">
                    <form class="am-form" action="__SELF__" method="post">
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-3 am-text-right">
                                用户名
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <input type="text" class="am-input-sm" name="username" value="{{$user.username}}">
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-3 am-text-right">
                                邮箱
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <input type="text" class="am-input-sm" name="email" value="{{$user.email}}">
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-3 am-text-right">
                                手机号
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <input type="text" class="am-input-sm" name="mobile" value="{{$user.mobile}}">
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-3 am-text-right">
                                新密码
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <input type="password" class="am-input-sm" id="password" name="password">
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-3 am-text-right">
                                确认密码
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <input type="password" class="am-input-sm" id="check_password" name="check_password">
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-3 am-text-right">
                                选择用户组
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">

                                <volist name="groups" id="item">
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="{{$item.id}}" class="checked_id"
                                               name="group_id[]"
                                        <if condition="in_array($item['id'], $group_id)">checked</if>
                                        >{{$item.title}}
                                    </label>
                                </volist>
                            </div>
                        </div>

                        <div class="am-margin">
                            <button type="submit" class="am-btn am-btn-primary submit">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="js">
    <script>
        $(function () {
            $('.submit').click(function () {
                var info = {
                    username: $("#username").val(),
                    email: $("#email").val(),
                    password: $("#password").val(),
                    check_password: $("#check_password").val(),
                    group_id: $('.group_id').val()
                }

                if (info.username.length < 3) {
                    alert('用户名长度不能小于3位');
                    return false;
                }

                var re = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
                if (!re.test(info.email)) {
                    alert('邮箱格式不正确');
                    return false;
                }

                if (info.password.length < 6) {
                    alert('密码最低6位');
                    return false;
                }

                if (info.password != info.check_password) {
                    alert('两次密码输入不一致');
                    return false;
                }

                $.post("http://qinsongc.net/shop.php{{:U('add_user')}}", info, function (data) {
                    if (data.status == 1) {
                        alert(data.msg);
                        location.href = "http://qinsongc.net/shop.php{{:U('AuthSet/user_manage')}}";
                    }
                    if (data.status == 0) {
                        alert(data.msg);
                        return false;
                    }
                })

                return false;
            })
        })
    </script>
</block>

