<!DOCTYPE html>
<html data-dpr="2" style="font-size: 75px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="data-spm" content="a219p">
    <meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/assets/home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/home/css/empty.css">
    <title>购物车</title>
</head>
<body data-spm="7437207" style="font-size: 24px;">
<div id="J_cartBuy" class="cartbuy">
    <div>
        <header class="o-c-header" data-reactid=".0.0">
            <div class="back" data-reactid=".0.0.0"><a href="#" data-reactid=".0.0.0.0"></a></div>
            <div class="title" data-reactid=".0.0.1"><span data-reactid=".0.0.1.0">购物车</span></div>
            <div data-reactid=".0.0.2"></div>
        </header>
        <div>
            <div class="allItemv2">
                <div class="o-t-error">
                    <div class="img">
                        <img src="__PUBLIC__/assets/home/images/empty.png">
                    </div>
                    <div class="info">
                        <h1 class="title">购物车快饿瘪了T.T</h1>
                        <p class="sub">主人快给我挑点宝贝吧</p>
                        <p class="btn">
                            <a href="http://qinsongc.net/shop.php{{:U('Index/index')}}">去逛逛</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>