<div class="footer">
    <!--    <p>
            <a href="http://qinsongc.net/shop.php{{:U('Index/index')}}">商城首页</a>
            <a href="http://qinsongc.net/shop.php{{:U('Cart/index')}}">购物车</a>
            <a href="http://qinsongc.net/shop.php{{:U('Customer/index')}}">会员中心</a>
        </p>-->
    
        <dl style="margin-bottom: 33px">
<!--            <dt><a href="javascript:void(0);">
                <img class="img-responsive" src="__PUBLIC__/assets/home/images/favicon.ico"
                                                   alt="琴松货运代理商城"/></a></dt>
            <dd><a href="javascript:void(0);">武汉长乐未央网络科技有限公司提供技术支持</a></dd>-->
        </dl>


    <div class="am-navbar am-navbar-default" data-am-widget="navbar">  
        <ul class="am-navbar-nav am-cf am-avg-sm-3"><!--导航条是否隐藏多余项的关键参数-->  
            <li>  
                <a href="http://qinsongc.net/shop.php{{:U('Index/index')}}"> 
                    <span class="am-icon-home"></span>  
                    <span class="am-navbar-label">商城首页</span>  
                </a>  
            </li>  
            <li>  
                <a href="http://qinsongc.net/shop.php{{:U('Cart/index')}}">
                    <span class="am-icon-shopping-cart"></span>  
                    <span class="am-navbar-label">购物车</span>  
                </a>  
            </li>  
            <li>  
                <a href="http://qinsongc.net/shop.php{{:U('Customer/index')}}"> 
                    <span class="am-icon-user"></span>  
                    <span class="am-navbar-label">会员中心</span>  
                </a>  
            </li>          
        </ul>  
    </div>
</div>