<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <title>会员充值</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/home/css/common.css"/>
</head>
<body class="confirm-page">
<header class="member">
    <img class="img-responsive" src="__PUBLIC__/assets/home/images/background.jpg"/>
    <dl>
        <dt><img class="img-responsive img-circle" src="http://oi6a6qhed.bkt.clouddn.com/5a043b9c19835.png" alt="会员头像"/></dt>
        <dd>尊贵的：holy</dd>
        <dd>会员号：123456</dd>
        <dd>入会时间：2017-11-17 22:05:11</dd>
        <dd>个性签名：<span id="inputSign">天道酬勤</span></dd>
    </dl>
</header>

<section class="confirm">
    <h3>余额：0元</h3>
    <h3>累积充值：0元</h3>
    <div class="clearsH"></div>
    <p>商家未设置充值方案，暂时无法充值。</p>
</section>

<include file="./app/Home/View/Layout/_footer.html"/>
</body>
</html>