<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>物流跟踪</title>
    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/Vendors/font-awesome/css/font-awesome.css"/>-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/home/css/common.css"/>
</head>
<body class="cart-page">
<div class="logo">
    <h1><a href="index.html"><img class="img-responsive" src="__PUBLIC__/assets/home/images/favicon.ico"
                                  alt="琴松货运代理商城"/></a></h1>
    <h3>琴松货运代理商城</h3>

    <div class="clears"></div>
</div>
<h3 style="width: 50%;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: normal;
    background-color: #c06090;margin-top: 10px;">请输入订单号：</h3>

<div style="margin-top: 20px;">
    <iframe src="http://m.kuaidi100.com/index_all.html?type=yuantong&amp;postid=804253121546" frameborder="0" width="100%" height="500"></iframe>
</div>


<include file="./app/Home/View/Layout/_footer.html"/>
</body>
</html>