<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:U('Admin/Order2/Save')}}" method="POST" request-type="ajax-url" request-value="{{:U('Admin/Order2/Index')}}">
            <legend>
                <span class="fs-16">
                    <if condition="empty($data['id'])">
                        {{:L('order_add_name')}}
                        <else />
                        {{:L('order_edit_name')}}
                    </if>
                </span>
                <a href="{{:U('Admin/Order2/Index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> {{:L('common_operation_back')}}</a>
            </legend>
            <if condition="$data.status lt 1">
                <include file="Lib/IsDisposal" />
                <include file="Lib/IsNotice" />
                <!-- 订单编号 开始 -->
                <div class="am-form-group">
                    <label>订单编号</label>
                    <div>
                        <label class="am-radio-inline m-r-10">
                            <input class="am-radius form-keyword" name="order_number" value="{{$data.order_number}}" type="text">
                        </label>
                    </div>
                </div>
                <!-- 订单编号 结束 -->
                <div class="am-form-group">
                    <label>{{:L('order_courier_title')}}</label>
                    <div>
                        <foreach name="data.courier" item="v">
                            <div class="m-b-10 o-h courier-items">
                                <p class="m-0 am-fl">{{$v.number}}</p>
                                <p class="m-0 am-fl m-l-15">
                                    <span class="fl">{{$v.goods}} /</span>
                                    <input type="text" name="courier[kg][{{$v.key}}]" class="am-input-sm am-fl m-l-5 m-r-5" value="{{$v.kg}}" data-validation-message="请填写单号重量" required />kg
                                </p>
                                <input type="hidden" name="courier[number][{{$key}}]" value="{{$v.number}}" />
                                <input type="hidden" name="courier[goods][{{$key}}]" value="{{$v.goods}}" />
                            </div>
                        </foreach>
                    </div>
                </div>
                <div class="am-form-group">
                    <input type="hidden" name="id" <notempty name="data"> value="{{$data.id}}"</notempty>" />
                    <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
                </div>
                <else />
                <div class="">订单当前状态不能编辑</div>
            </if>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->