<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:U('Admin/WaterOrder/Save')}}" method="POST" request-type="ajax-url" request-value="{{:U('Admin/WaterOrder/SaveInfo', array('id'=>$data['id']))}}">
            <legend>
                <span class="fs-16">
                    <if condition="empty($data['id'])">
                        {{:L('order_add_name')}}
                        <else />
                        {{:L('order_edit_name')}}
                    </if>
                </span>
                <a href="{{:U('Admin/WaterOrder/Index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> {{:L('common_operation_back')}}</a>
            </legend>

            <!--状态 开始-->
            <div class="am-form-group">
                <label>订单状态</label>
                
                <label class="am-radio-inline m-r-10">
                    <input type="radio" name="status" value="0"  <if condition="$data.status eq 0">checked="checked" </if> />待处理
                </label>
                <label class="am-radio-inline m-r-10">
                    <input type="radio" name="status" value="1"<if condition="$data.status eq 1">checked="checked" </if>  />待支付
                </label>
                <label class="am-radio-inline m-r-10">
                    <input type="radio" name="status" value="2"<if condition="$data.status eq 2">checked="checked" </if>  />已支付
                </label>
                <label class="am-radio-inline m-r-10">
                    <input type="radio" name="status" value="6"<if condition="$data.status eq 6">checked="checked" </if>  />配送中
                </label>
                <label class="am-radio-inline m-r-10">
                    <input type="radio" name="status" value="3"<if condition="$data.status eq 3">checked="checked" </if>  />已完成
                </label>
                <label class="am-radio-inline m-r-10">
                    <input type="radio" name="status" value="4"<if condition="$data.status eq 4">checked="checked" </if>  />已取消
                </label>
                <label class="am-radio-inline m-r-10">
                    <input type="radio" name="status" value="5"<if condition="$data.status eq 5">checked="checked" </if>  />已关闭
                </label>
            </div>



            <!--状态 结束-->
            <!-- 订单编号 开始 -->
            <div class="am-form-group">
                
            <label>订单编号</label><p>最新操作的20条中，最大编号为：<div style="color: red;font-weight: bold"> {{$return_max}} </div>  </p>  
                <div>
                    <label class="am-radio-inline m-r-10">
                        <input class="am-radius form-keyword" name="order_number" value="{{$data.order_number}}" type="text">
                    </label>
                </div>
            </div>
            <!-- 订单编号 结束 -->
            <div class="am-form-group">
                <label>{{:L('order_courier_title')}}</label>
                <div>
                    <foreach name="data.courier" item="v">
                        <div class="m-b-10 o-h courier-items">
                            <p class="m-0 am-fl">{{$data.department_text}}  /  </p>
                            <p class="m-0 am-fl">{{$v.brand}}  /  </p>
                            <p class="m-0 am-fl">{{$v.display_name}}</p>
                            <br/>
                            <p class="m-0 am-fl m-l-15">
                                <span class="fl">{{$v.quat}} * {{$v.quat_num}} /</span>
                                数量：<input type="text" name="courier[number][{{$key}}]" class="am-input-sm am-fl m-l-5 m-r-5" value="{{$v.number}}" data-validation-message="请填写单号重量" required />
                            </p>
                            <input type="hidden" name="courier[brand][{{$key}}]" value="{{$v.brand}}" />
                            <input type="hidden" name="courier[display_name][{{$key}}]" value="{{$v.display_name}}" />
                            <input type="hidden" name="courier[quat][{{$key}}]" value="{{$v.quat}}" />
                            <input type="hidden" name="courier[quat_num][{{$key}}]" value="{{$v.quat_num}}" />
                        </div>
                    </foreach>
                </div>
            </div>
            <div class="am-form-group">
                <input type="hidden" name="id" <notempty name="data"> value="{{$data.id}}"</notempty>" />
                <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
            </div>



        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->